* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: top;
}

.header_warp {
    height: 300px;
    background: url(../images/banner.jpg) no-repeat center top;
    /* background-size: cover; */
    /* height: 800px; */
}
.header_nav{
    position: relative;
}
.header_left .white {
    color: white;
}

.header_left a {
    padding: 2em 1em 1em 1em;
    background: #c6c5c0;
    color: #fff;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    display: inline-block;
}

.header_left a:hover {
    color: #23527c;
    text-decoration: none;
}

.bigg {
    font-size: 10px;
    font-style: italic;
}

.header_right ul li {
    display: inline-block;
}

.header_right ul {
    padding: 4em 0 0;
}

.header_right ul li a {
    display: block;
    height: 32px;
    width: 32px;
    background: url(../images/icon-tb.png) no-repeat -5px -13px;
}

.header_right .bird:hover {
    background-position: -5px -59px;
}

.header_right .g {
    background-position: -48px -13px;
}

.header_right .g:hover {
    background-position: -48px -58px;
}

.header_right .v {
    background-position: -86px -13px;
}

.header_right .v:hover {
    background-position: -86px -58px;
}

.header_menu {
    width: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.nav_list {
    overflow: hidden;

}

.nav_list li {
    display: inline-block;
    margin: 0 0 0 10px;
    position: relative;
    z-index: 2;
}

.nav_list li a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 45px 30px;
    display: block;
    color: white;
}

.nav_list li span {
    color: #fff;
    display: block;
    text-align: center;
    margin: 0.5em 0 0;
}

.nav_list .active {
    background-color: #6EA145;
}

.nav_list li::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6EA145;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all .5s ease-out;
}

.nav_list li:hover::before {
    transform: scaleY(1);
}

.header_menu .menu {
    display: none;
}

.header_info{
    margin: 20% auto 20% 22%;
}
.header_info h1{
    text-transform: capitalize;
    font-size: 2.8em;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
.header_info p{
    font-size: 14px;
    color: #DFDFDF;
    margin: 1em 0 2em;
    line-height: 1.8em;
    width: 80%;
}
.more a{
    font-size: 16px;
    color: #FFF;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #6ea145;
    font-family: 'Josefin Sans', sans-serif;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -ms-transition: 1s all;
}
.more a:hover{
    color: #6ea145;
    background: #fff;
    text-decoration: none;
}

@media only screen and (max-width:1200px) {
    .header_info{
        margin: 10% auto 10% 12%;
    }
}

@media only screen and (min-width:993px) {
    .nav_list {
        display: block !important;
    }
}

@media only screen and (max-width:992px) {
    
    .nav_list {
        width: 100%;
        position: absolute;
        padding: 0;
        margin: 13px 0 0;
        left: 2.5%;
        width: 96%;
        z-index: 999;
        display: none;
        background: #C6C5C0;
        margin-top: 10em;
    }
    .header_menu{
        width: 100%;
    }
    .header_menu .menu {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        margin: auto;
    }

    .nav_list li {
        display: inline-block;
        margin: 0;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .nav_list li a{
        padding: 1em 0;
    }
    .header_left a{
        padding: 1em 1em 1em;
    }
    .header_info h1{
        font-size: 2.2em;
    }
}

@media screen and (max-width:768px) {
    .header_info{
        /* width: 65%; */
        margin: 5% auto 5% 6%;
    }
    .header_left a{
        padding: 1em 0.5em 0.5em;
    }
    .header_info h1{
        font-size: 1.2em;
    }
    .header_info p{
        font-size: 0.2em;
    }
}